.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
.content {
    display: flex;
}

@media screen and (max-width: 1700px) {
    
}
@media screen and (max-width: 1366px) {
      
}
@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}


  
  
  

  