.coments {
    

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./../../../project/image/widgets/coments/inst.png');
    height: 80vh;
    &__blocks {
        display: flex;
    }
     &__title {
        font-weight: bold;
        font-size: 49PX;
        color: #404040;
        text-align: right;
    }
    &__text {
        font-weight: 500;
        font-size: 23px;
        text-align: right;
        color: #000000;
        margin-top: 10px;
    }
    &__pidpis {
       text-align: right;
    }
    
    &__blockEmpty {
        width: 55%;
    }
    &__block {
        width: 45%;
        display: flex;
        flex-direction: column;
        margin-top: 11%;
        margin-right: 10%;
        
    }
}