.coments {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./../../../project/image/widgets/coments/inst.png');
    height: 100vh;
    &__blocks {
        display: flex;
    }
     &__title {
        font-weight: bold;
        font-size: 49PX;
        color: #404040;
        text-align: right;
    }
    &__text {
        font-weight: 500;
        font-size: 23px;
        text-align: right;
        color: #000000;
        margin-top: 10px;
    }
    &__pidpis {
       text-align: right;
    }
    
    &__blockEmpty {
        width: 55%;
    }
    &__block {
        width: 45%;
        display: flex;
        flex-direction: column;
        margin-top: 11%;
        margin-right: 10%;
    }
}
.insta {
    margin-top: 100px;
    position: relative;
}
.phone {
    position: absolute;
    left: 39.4%;
    bottom: -24%;
    z-index: 99999999;
}
@media screen and (max-width: 1700px) {
    .coments {
        &__blocks {
            display: flex;
        }
         &__title {
            font-size: 43px;
        }
        &__text {
            font-size: 28px;
            margin-top: 10px;
           
        }
        &__pidpis {
            margin-top: 10px;
           &__img {
               width: 50%;
           }
        }
       
        &__block {
            margin-top: 2%;
            margin-right: 4%;
        }
    }
    .insta {
        margin-top: 50px;
        position: relative;
        &__img {
            width: 340px;
            height: 380px;
         } 
    }
    .phone {
        position: absolute;
        left: 39.5%;
        bottom: -20%;
        &__img {
            width: 350px;
            height: 580px;
        }
    }
}
@media screen and (max-width: 1500px) {
    .coments {
        &__blocks {
            display: flex;
        }
         &__title {
            font-size: 41px;
        }
        &__text {
            font-size: 26px;
            margin-top: 10px;
           
        }
        &__pidpis {
            margin-top: 10px;
           &__img {
               width: 50%;
           }
        }
       
        &__block {
            margin-top: 2%;
            margin-right: 4%;
        }
    }
    .insta {
        margin-top: 50px;
        position: relative;
        &__img {
            width: 400px;
            height: 420px;
         } 
    }
    .phone {
        position: absolute;
        left: 32.5%;
        bottom: -20.5%;
        &__img {
            width: 420px;
            height: 640px;
        }
    }
}
@media screen and (max-width: 1366px) {
    .coments {
        &__blocks {
            display: flex;
            flex-direction: column;
        }
         &__title {
            font-size: 32px;
            text-align: center;
        }
        &__text {
            font-size: 22px;
            margin-top: 10px;
            text-align: center;
            padding: 0 40px;
        }
        &__pidpis {
           &__img {
               width: 40%;
           }
        }
        &__blockEmpty {
            width: 0;
        }
        &__block {
            width: 100%;
            margin-top: 20px;
            margin-right: 5%;
        }
    }
    .insta {
        margin-top: 150px;
        position: relative;
        &__img {
            width: 300px;
            height: 350px;
         } 
    }
    .phone {
        position: absolute;
        left: 32.3%;
        bottom: -16%;
        &__img {
            width: 320px;
            height: 500px;
        }
    }
}

@media screen and (max-width: 576px) {  
    .coments {
        height: 1000px;
        &__blocks {
            display: flex;
            flex-direction: column;
        }
         &__title {
            margin-top: 40px;
            font-size: 20px;
            text-align: center;
        }
        &__blockEmpty {
            width: 0;
        }
        &__block {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 0;
            margin-right: 0;
        }
        &__text {
            font-size: 23px;
            text-align: center;
            margin-top: 10px;
        }
        &__pidpis {
           text-align: center;
        }
    }
.phone {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20%;
    z-index: 99999999;
    &__img {
        width: 100%;
        height: 550px;
    }
}
.insta {
    margin-top: 200px;
    position: relative;
    &__img {
       width: 100%;
       height: 360px;
    }  
 }
}