.title {
    font-weight: bold;
    font-size: 32px;
    color: #404040;
    text-transform: uppercase;
    padding: 10px 5px;
    margin-left: 5%;
}
.blog {
    display: flex;
    justify-content: center;
    &__content {
        width: 90%;
        &__content {
        display: flex;
        align-items: center;
        }
        &__mainCard {
            width: 50%;
            margin-bottom: 5px;
            margin-right: 5px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            &:hover {
                box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5);
            }
        }
        &__twoCards {
            width: 50%;
            display: flex;
            margin-left: 5px;
            margin-bottom: 5px;
        }
    }
    &__mainNew {
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
        cursor: pointer;
        &__content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-left: 5%;
            padding-bottom: 1%;
            &__title {
                font-weight: bold;
                font-size: 28px;
                color: #FFFFFF;
                text-shadow: 2px 1px 1px #000000;
                padding-bottom: 50px;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
            &__info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &__desc {
                    font-size: 18px;
                    color: #FFDCC9;
                    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
                }
                &__date {
                    font-size: 18px;
                    color: #EAEAEA;
                    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
                    padding-right: 5px;
                }
            }
        }
    }
    &__twoNews {
        display: flex;
        height: 400px;
        width: 50%;
        margin: 0 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: white;
        &:hover {
            box-shadow:  2px 3px 7px rgba(0, 0, 0, 0.5);
        }
        &__content {
            cursor: pointer;
            overflow: hidden;
            width: 100%;
            &__imgBlock {
                height: 200px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
             }
           &__block {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 200px;
           }
            &__img {
              height: 100%;
              transform: scale(1.3);
            }
            &__title {
                font-weight: 600;
                font-size: 24px;
                color: #404040;
                text-align: left;
                padding-top: 5px;
                padding-bottom: 5px;
                padding: 10px 10px;
            }
            &__description {
                font-size: 19px;
                color: #404040;
                text-align: left;
                padding: 0 10px;
                max-height: 150px;
            }
            &__description2 {
                font-size: 19px;
                color: #404040;
                text-align: left;
                padding: 0 10px;
                max-height: 150px;
            }
            &__info {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding-bottom: 5px;
                &__desc {
                    font-size: 17px;
                    color: #E45100;
                    padding-left: 5px;
                    width: 70%;
                }
                &__date {
                    font-size: 17px;
                    color: #666666;
                    padding-right: 5px;
                    width: 30%;
                }
            }
        }
    }
}
.otherNews {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &__new {
        width: 25%;
    }
    &__content {
        margin-top: 25px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &:hover {
            box-shadow:  2px 3px 7px rgba(0, 0, 0, 0.5);
        }
    }
}

@media screen and (max-width: 1700px) {
    .title {
        font-size: 31px;
    }
    .blog {
        &__mainNew {
            &__content {
                &__title {
                    font-size: 26px;
                }
                &__info {
                    &__desc {
                        font-size: 17px;
                    }
                    &__date {
                        font-size: 17px;
                        padding-right: 4px;
                    }
                }
            }
        }
        &__twoNews {
            &__content {
                &__title {
                    font-size: 23px;
                }
                &__description {
                    font-size: 18px;
                }
                &__description2 {
                    font-size: 18px;
                }
                &__info {
                    &__desc {
                        font-size: 15px;
                      
                    }
                    &__date {
                        font-size: 15px;
                        min-width: 30%;
                    }
                }
            }
        }
    }
}   

@media screen and (max-width: 1500px) {
    .title {
        font-size: 30px;
    }
    .blog {
        &__mainNew {
            height: 360px;
            &__content {
                &__title {
                    font-size: 24px;
                }
                &__info {
                    &__desc {
                        font-size: 15px;
                    }
                    &__date {
                        font-size: 15px;
                        padding-right: 4px;
                    }
                }
            }
        }
        &__twoNews {
            height: 360px;
            &__content {
                &__imgBlock {
                    height: 180px;
                 }
                &__block {
                   height: 180px;
                }
                &__title {
                    font-size: 21px;
                }
                &__description {
                    font-size: 15px;
                }
                &__description2 {
                    font-size: 15px;
                }
                &__info {
                    &__desc {
                        font-size: 12px;
                    }
                    &__date {
                        font-size: 12px;
                    }
                }
            }
        }
    }  
    .otherNews {
        &__content {
           margin-top: 15px;
        }
    }
}

@media screen and (max-width: 1366px) {
    .title {
        font-size: 29px;
    }
    .blog {
        &__mainNew {
            height: 340px;
            &__content {
                &__title {
                    font-size: 23px;
                }
                &__info {
                    &__desc {
                        font-size: 14px;
                    }
                    &__date {
                        font-size: 14px;
                        padding-right: 4px;
                    }
                }
            }
        }
        &__twoNews {
            height: 340px;
            &__content {
                &__imgBlock {
                    height: 170px;
                 }
                &__block {
                   height: 170px;
                }
                &__title {
                    font-size: 19px;
                }
                &__description {
                    font-size: 12px;
                }
                &__description2 {
                    font-size: 12px;
                }
                &__info {
                    &__desc {
                        font-size: 12px;
                    }
                    &__date {
                        font-size: 11px;
                        padding-right: 1px;
                        width: 30%;
                        padding-right: 3px;
                        text-align: right;
                    }
                }
            }
        }
    }  
    .otherNews {
        &__content {
           margin-top: 15px;
        }
    }
}   
@media screen and (max-width: 1250px) {
    .title {
        font-size: 27px;
    }
    .blog {
        &__mainNew {
            height: 340px;
            &__content {
                &__title {
                    font-size: 21px;
                }
                &__info {
                    &__desc {
                        font-size: 12px;
                    }
                    &__date {
                        font-size: 12px;
                        padding-right: 4px;
                    }
                }
            }
        }
        &__twoNews {
            height: 340px;
            &__content {
                &__imgBlock {
                    height: 170px;
                 }
                &__block {
                   height: 170px;
                }
                &__title {
                    font-size: 17px;
                }
                &__description {
                    font-size: 11px;
                }
                &__description2 {
                    font-size: 11px;
                }
                &__info {
                    &__desc {
                        font-size: 10px;
                    }
                    &__date {
                        font-size: 9px;
                        width: 30%;
                        padding-right: 1px;
                        text-align: right;
                    }
                }
            }
        }
    }  
    .otherNews {
        &__content {
           margin-top: 15px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .title {
        font-size: 29px;
    }
    .blog {
        &__mainNew {
            height: 280px;
            &__content {
                &__title {
                    font-size: 23px;
                }
                &__info {
                    &__desc {
                        font-size: 14px;
                    }
                    &__date {
                        font-size: 14px;
                        padding-right: 4px;
                    }
                }
            }
        }
        &__twoNews {
            height: 280px;
            &__content {
                &__imgBlock {
                    height: 120px;
                }
                &__img {
                    width: 100%;
                    height: 100%;
                }
                &__block {
                   height: 160px;
                }
                &__title {
                    font-size: 14px;
                }
                &__description {
                    font-size: 12px;
                }
                &__info {
                    &__desc {
                        font-size: 12px;
                    }
                    &__date {
                        font-size: 8px;
                    }
                }
            }
        }
    }  
    .otherNews {
        &__content {
           margin-top: 15px;
        }
    }
    
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 29px;
    }
    .blog {
        &__mainNew {
            height: 280px;
            &__content {
                &__title {
                    font-size: 23px;
                }
                &__info {
                    &__desc {
                        font-size: 14px;
                    }
                    &__date {
                        font-size: 14px;
                        padding-right: 4px;
                    }
                }
            }
        }
        &__twoNews {
            height: 280px;
            &__content {
                &__imgBlock {
                    height: 120px;
                }
                &__img {
                    width: 100%;
                    height: 100%;
                }
                &__block {
                   height: 160px;
                }
                &__title {
                    font-size: 14px;
                }
                &__description {
                    font-size: 12px;
                }
                &__description2 {
                    font-size: 10px;
                }
                &__info {
                    &__desc {
                        font-size: 12px;
                    }
                    &__date {
                        min-width: 30%;
                        font-size: 7px;
                        padding-right: 0;
                    }
                }
            }
        }
    }  
    .otherNews {
        &__content {
           margin-top: 15px;
        }
    }
}
@media screen and (max-width: 576px) {
    .title {
        text-align: center;
    }
    .blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__content {
            width: 98%;
            &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            }
            &__mainCard {
                width: 100%;
                margin-bottom: 15px;
                margin-right: 0;
            }
            &__twoCards {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 0;
            }
        }
        &__mainNew {
            &__content {
                justify-content: flex-end;
                padding-left: 0;
                &__title {
                    font-size: 28px;
                   text-align: center;
                }
                &__info {
                    &__desc {
                        font-size: 16px;
                        padding: 4px;
                    }
                    &__date {
                        font-size: 16px;
                        padding-right: 4px;
                    }
                }
            }
        }
        &__twoNews {
            height: 400px;
            width: 100%;
            margin: 0 ;
            margin-bottom: 10px;
            &__content {
                width: 100%;
                &__imgBlock {
                    height: 200px;
                 }
               &__block {
                  height: 200px;
               }
                &__img {
                  width: 100%;
                }
                &__title {
                    font-size: 22px;
                    padding-top: 10px;
                }
                &__description {
                    font-size: 21px;
                }
                &__info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 5px;
                    &__desc {
                        font-size: 17px;
                        color: #E45100;
                        padding-left: 5px;
                    
                    }
                    &__date {
                        font-size: 17px;
                        color: #666666;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    .otherNews {
        display: flex;
        align-items: center;
        flex-direction: column;
        &__new {
            width: 100%;
            margin-bottom: 5px;
        }
        &__content {
            margin-top: 0;
            margin-bottom: 5px;
            margin-left: 0;
            margin-right: 0;
        }
    }
}