.mainView {
    background: url('./../../../project/image/layouts/content/jpg/backGround.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    &__title {
        font-family: 'Caveat', cursive;
        font-size: 39px;
        color: #22262F;
        text-align: center;
    }
}

.pizzaType {
    font-weight: bold;
    font-size: 32px;
    color: #404040;
    margin-left: 40px;
    text-transform: uppercase;
    margin-top: 30px;
}
.pizza {
    display: flex;
    min-width: 80%;
    flex-wrap: wrap;
    &__sizeBlock {
        display: flex;
        background: #E3E4EA;
        border-radius: 7px;
        height: 40px;
        width: 65%;
        margin-left: 3%;
        align-items: center;
        color: white;
        &__active {
            font-size: 20px;
            height: 40px;
            background: #00B612;
            border-radius: 7px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            text-align: center;
            color: white;
        }
        &__size {
            font-size: 20px;
            width: 50%;
            font-size: 12px;
            cursor: pointer;
            color: #808080;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__card {
        width: 25%;
    }
     &__cardTwo {
         width: 20%;  
     }
    &__block {
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #ECECEC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin: 20px 10px;
        height: fit-content;
        &__images {
            position: relative;
            min-height: 370px;
            display: flex;
            align-items: center;
        }
        &__icon {
            position: absolute;
            top: 3%;
            right: 2%;
        }
        &__status {
            padding-right: 10px;
        }
        &__name {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-weight: 600;
            font-size: 27px; 
            margin-right: 2%;
            color: #404040;
            height: 40px;
            text-align: right;
        }
        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            padding-bottom: 10px;
        }
        &__itemTwo {
            margin-top: 20px;
            
        }
        &__items {
            margin-right: 2%;
        }
        &__price {
            font-weight: 600;
            font-size: 25px;         
            text-align: right;
            color: #E45100;
        }
        &__grn {
            color: #E45100; 
            font-size: 21px;
            padding-left: 5px
        }
        &__weight {
            font-size: 19px;
            text-align: right;
            color: #787878;
        }
    }
}
.ttt {
    padding: 5px 10px;
}

.buyBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border: 2px solid #E45100;
    border-radius: 8px;
    width: 96%;
    max-width: 96%;
    outline: none;
    cursor: pointer;
    color: white;
    margin: 10px 2%;
    &:hover {
        box-shadow: rgba(0, 3, 5, 0.932) 0px 2px 4px 0px, rgba(0, 0, 0, 0.993) 0px 2px 16px 0px;
    }
    &__block {
        display: flex;
        align-items: center;
        background: white;
        justify-content: space-between;
        border-radius: 8px;
        height: 96%;
        width: 80%;
        &__inCart {
            color: black;
            font-size: 22px;
            padding-left: 20px;
        }
        &__add {
            color: black;
            font-size: 23px;
        }
        &__rem {
            color: black;
            font-size: 23px;
            padding-right: 15px;
        }
        &__qty {
            color: black;
            font-size: 22px;
             width: 25px;
        }
        &__addRem {
            display: flex;
            align-items: center;
            padding-right: 7%;
        }
    }
    &__cart {
       background: #E45100;
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        border: none;
        outline: none;
    }
}
.buyBtnE {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background:  #E45100;
    border: none;
    border-radius: 7px;
    width: 96%;
    max-width: 96%;
    outline: none;
    cursor: pointer;
    color: white;
    margin: 10px 2%;
    &:hover {
        box-shadow: rgba(0, 3, 5, 0.932) 0px 2px 4px 0px, rgba(0, 0, 0, 0.993) 0px 2px 16px 0px;
    }
    &__addE {
        padding-left: 25px;
        font-weight: 500;
        font-size: 20px;  
        display: flex;
        align-items: center;
        justify-content: center;
        width: 79%;
    }
    &__cartE {
        width: 21%;
        display: flex;
        align-items: center;
        justify-content: center;
     
    }
}
.pizzaImage {
    width: 80%;
    height: 100%;
}
.discount {
    height: 10px;
    &__value {
        font-size: 15px;
        text-align: right;
        text-decoration-line: line-through;
        color: #A4A4A4;
    }
}
.vis {
    opacity: 1;
}
.unvis {
    opacity: 0;
    pointer-events: none;
}
.upArrow {
    position: fixed;
    right: 2%;
    top: 90%;
    z-index: 120;
    cursor: pointer;
}
.popapBlock {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 80%;
    right: 0;
    &__point {
            background: #006F9E;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin: 2px 0;
        }
    }

.popap {
    width: 80%;
    padding: 5px 5px;
    background: rgba(246, 247, 249, 0.85);
    opacity: 1;
    color: #006F9E;
    font-size: 16px;
    position: absolute;
    top: 80%;
}
.popapdisable {
    width: 90%;
    opacity: 0;
    position: absolute;
    top: 70%;  
}
@media screen and (max-width: 1885px) {
    .pizza {
        &__sizeBlock {
            &__active {
                font-size: 17px;
            }
            &__size {
                font-size: 17px;
            }
        }
        &__card {
            width: 25%;
        }
         &__cardTwo {
             width: 20%;  
         }
        &__block {
            height: fit-content;
            margin: 18px 8px;
            &__icon {
                top: 0;
                right: 0;
                width: 23%;
                height: 23%;
            }
            &__status {
                padding-right: 6px;
                width: 35px;
                height: 35px;
            }
            &__name {
                font-size: 25px; 
            }
            &__price {
                font-size: 22px;         
            }
            &__grn {
                font-size: 22px;
                padding-left: 4px
            }
            &__weight {
                font-size: 15px;
            }
        }
    }
   
    .popap {
        font-size: 14px;
    }
    .buyBtn {
        height: 48px;
        &__block {
            width: 80%;
            &__inCart {
                color: black;
                font-size: 21px;
                padding-left: 18px;
            }
            &__add {
                color: black;
                font-size: 22px;
            }
            &__rem {
                color: black;
                font-size: 22px;
                padding-right: 14px;
            }
            &__qty {
                color: black;
                font-size: 21px;
                width: 24px;
            }
        }
        &__cart {
            &__icon {
                width: 65%;
            }
        }
    }
    .buyBtnE {
        height: 48px;
        &__addE {
            padding-left: 22px;
            font-size: 19px;  
            width: 79%;
        }
        &__cartE {
            width: 21%;
            &__icon {
                width: 60%;
            }
        }
    }
}
@media screen and (max-width: 1775px) {
    .pizza {
        &__sizeBlock {
            height: 38px;
            &__active {
                height: 38px;
                font-size: 16px;
                height: 38px;
            }
            &__size {
                font-size: 16px;
            }
        }
        &__block {
            &__status {
                padding-right: 6px;
                width: 35px;
                height: 35px;
            }
            &__name {
                font-size: 24px; 
            }
            &__price {
                font-size: 21px;         
            }
            &__grn {
                font-size: 21px;
                padding-left: 4px
            }
            &__weight {
                font-size: 14px;
            }
        }
    }
   
    .popap {
        font-size: 14px;
    }
    .buyBtn {
        height: 46px;
        &__block {
            width: 80%;
            &__inCart {
                color: black;
                font-size: 20px;
                padding-left: 18px;
            }
            &__add {
                color: black;
                font-size: 21px;
            }
            &__rem {
                color: black;
                font-size: 21px;
                padding-right: 14px;
            }
            &__qty {
                color: black;
                font-size: 20px;
                width: 24px;
            }
        }
        &__cart {
            &__icon {
                width: 65%;
            }
        }
    }
    .buyBtnE {
        height: 46px;
        &__addE {
            padding-left: 22px;
            font-size: 18px;  
            width: 79%;
        }
        &__cartE {
            width: 21%;
            &__icon {
                width: 60%;
            }
        }
    }
}
@media screen and (max-width: 1700px) {
    .pizza {
        &__sizeBlock {
            height: 36px;
            &__active {
                height: 36px;
                font-size: 17px;
            }
            &__size {
                height: 36px;
                font-size: 17px;
            }
        }
        &__block {
            &__status {
                padding-right: 6px;
                width: 35px;
                height: 35px;
            }
            &__name {
                font-size: 24px; 
            }
            &__price {
                font-size: 20px;         
            }
            &__grn {
                font-size: 19px;
                padding-left: 4px
            }
            &__weight {
                font-size: 14px;
            }
        }
    }
   
    .pizzaImage {
        width: 90%;
        height: 100%;
    }
    .popap {
        font-size: 15px;
    }
    .buyBtn {
        height: 44px;
        &__block {
            width: 80%;
            &__inCart {
                color: black;
                font-size: 22px;
                padding-left: 20px;
            }
            &__add {
                color: black;
                font-size: 23px;
            }
            &__rem {
                color: black;
                font-size: 23px;
                padding-right: 15px;
            }
            &__qty {
                color: black;
                font-size: 22px;
                width: 25px;
            }
        }
    }
    .buyBtnE {
        height: 44px;
        &__addE {
            padding-left: 20px;
            font-size: 16px;  
            
            width: 79%;
        }
        &__cartE {
            width: 21%;
        }
    }
}
@media screen and (max-width: 1600px) {
    .pizza {
        &__sizeBlock {
            height: 36px;
            &__active {
                height: 36px;
                font-size: 17px;
            }
            &__size {
                height: 36px;
                font-size: 17px;
            }
        }
        &__block {
            &__status {
                padding-right: 6px;
                width: 35px;
                height: 35px;
            }
            &__name {
                font-size: 24px; 
            }
            &__price {
                font-size: 20px;         
            }
            &__grn {
                font-size: 19px;
                padding-left: 4px
            }
            &__weight {
                font-size: 14px;
            }
        }
    }
   
    .pizzaImage {
        width: 90%;
        height: 100%;
    }
    .popap {
        font-size: 13px;
    }
    .buyBtn {
        height: 44px;
        &__block {
            width: 80%;
            &__inCart {
                color: black;
                font-size: 21px;
                padding-left: 15px;
            }
            &__add {
                color: black;
                font-size: 18px;
            }
            &__rem {
                color: black;
                font-size: 18px;
                padding-right: 14px;
            }
            &__qty {
                color: black;
                font-size: 18px;
              
            }
        }
    }
    .buyBtnE {
        height: 44px;
        &__addE {
            padding-left: 20px;
            font-size: 15px;  
            
            width: 79%;
        }
        &__cartE {
            width: 21%;
        }
    }
}
@media screen and (max-width: 1500px) {
    .pizza {
        &__sizeBlock {
            width: 60%;
            height: 34px;
            &__active {
                height: 34px;
                font-size: 16px;
            }
            &__size {
                height: 34px;
                font-size: 16px;
            }
        }
        &__block {
            &__status {
                padding-right: 6px;
                width: 35px;
                height: 35px;
            }
            &__name {
                font-size: 23px; 
            }
            &__price {
                font-size: 19px;         
            }
            &__grn {
                font-size: 17px;
                padding-left: 4px
            }
            &__weight {
                font-size: 14px;
            }
        }
    }
   
    .pizzaImage {
        width: 90%;
        height: 100%;
    }
    .popap {
        font-size: 12px;
    }
    .buyBtn {
        height: 42px;
        &__block {
            width: 80%;
            &__inCart {
                color: black;
                font-size: 19px;
                padding-left: 10px;
            }
            &__add {
                color: black;
                font-size: 16px;
            }
            &__rem {
                color: black;
                font-size: 16px;
                padding-right: 14px;
            }
            &__qty {
                color: black;
                font-size: 16px;
                
            }
        }
    }
    .buyBtnE {
        height: 42px;
        &__addE {
            padding-left: 20px;
            font-size: 13px;  
            
            width: 79%;
        }
        &__cartE {
            width: 21%;
        }
    }
}

@media screen and (max-width: 1366px) {
    .pizza {
        &__sizeBlock {
            height: 28px;
            &__active {
                height: 28px;
                font-size: 12px;
            }
            &__size {
                height: 28px;
                font-size: 11px;
            }
        }
        &__block {
            margin: 17px 7px;
            height: fit-content;
            &__images {
                min-height: 300px;
                display: flex;
                align-items: center;
            }
            &__icon {
                top: 0;
                right: 0;
                width: 25%;
                height: 25%;
            }
            &__status {
                padding-right: 3px;
                width: 30px;
                height: 30px;
            }
            &__name {
                font-size: 20px; 
            }
            &__price {
                font-size: 18px;         
            }
            &__price_two {
                font-size: 22px;         
            }
            &__grn {
                font-size: 12px;
                padding-left: 2px
            }
            &__weight {
                font-size: 12px;
            }
        }
    }
    .buyBtn {
        height: 40px;
        &__block {
            width: 80%;
            &__inCart {
                color: black;
                font-size: 14px;
                padding-left: 12px;
            }
            &__add {
                color: black;
                font-size: 14px;
            }
            &__rem {
                color: black;
                font-size: 14px;
                padding-right: 14px;
            }
            &__qty {
                color: black;
                font-size: 14px;
                
            }
        }
       
    }
    .buyBtnE {
        height: 40px;
        &__addE {
                padding-left: 18px;
                font-size: 12px;  
                width: 79%;
        }
        &__cartE {
            width: 21%;
        }
    }
    .discount {
        &__value {
            font-size: 12px;
        }
    }
    .pizzaImage {
        width: 80%;
        height: 100%;
    }
    .popapBlock {
        top: 70%;  
    }
    .popap {
        width: 90%;
        padding: 5px 5px;
        font-size: 11px;
        top: 70%;
    }
}

@media screen and (max-width: 1024px) {
    .buyBtnE {
        height: 44px;
        &__addE {
                padding-left: 10px;
                font-size: 11px;  
                width: 79%;
        }
        &__cartE {
            width: 21%;
           
        }
    }
    .mainView {
        &__title {
            font-size: 29px;
        }
    }
    .pizzaType {
        font-size: 25px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .pizza {
        &__sizeBlock {
            height: 20px;
            width: 65%;
            margin-left: 1%;
            &__active {
                height: 20px;
                border-radius: 4px;
                font-size: 8px;
                font-weight: 500;
            }
            &__size {
                font-size: 8px;
            }
        }
        &__card {
            width: 25%;
        }
         &__cardTwo {
             width: 20%;  
         }
        &__block {
            border-radius: 5px;
            margin: 10px 4px;
            &__icon {
                position: absolute;
                top: 0;
                right: 0;
            }
            &__status {
                padding-right: 5px;
                width: 20px;
            }
            &__name {
                font-size: 16px; 
                margin-right: 1%;
                color: #404040;
                height: 20px;
            }
            &__item {
                margin-top: 10px;
            }
            &__price {
                font-size: 15px;         
            }
            &__items {
                margin-right: 1%;
            }
            &__grn {
                font-size: 12px;
                padding-left: 1px
            }
            &__weight {
                font-size: 10px;
            }
        }
    }
    .ttt {
        padding: 3px 5px;
    }
    
    .discount {
        height: 8px;
        &__value {
            font-size: 10px;
        }
    }
    .vis {
        opacity: 1;
    }
    .unvis {
        opacity: 0;
        pointer-events: none;
    }
    .upArrow {
        position: fixed;
        right: 2%;
        top: 90%;
        z-index: 120;
        cursor: pointer;
    }
    .popapBlock {
        top: 68%;  
    }
    .popap {
        font-size: 10px;
        top: 68%;
    }
}
@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    .pizzaType {
        font-weight: bold;
        font-size: 30px;
        color: #404040;
        margin-left: 0;
        text-transform: uppercase;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 10px;
    }
    .mainView {
        &__title {
            font-size: 30px;
        }
    }
    .pizza {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        &__block {
            width: 100%;
            height: fit-content;
            margin: 1px 1px;
            &__item {
                display: flex;
            }
            &__images {
                min-height: 400px;
            }
            &__price {
                font-size: 25px;
            }
            &__grn {
                font-size: 20px;
                padding-left: 2px;
            }
            &__weight {
                font-size: 15px;
            }
            &__name {
                font-size: 30px;
                text-align: center;
                display: flex;
                justify-content: center;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
        }
        &__card {
            width: 100%;
            margin-bottom: 10px;
            padding: 0 5px ;
        }
         &__cardTwo {
             width: 100%;  
             margin-bottom: 10px;
             padding: 0 5px ;
        }
        &__sizeBlock {
            height: 35px;
            width: 65%;
            margin-left: 3%;
            &__active {
                height: 35px;
                width: 50%;
                font-size: 15px;
            }
            &__size {
                width: 50%;
                font-size: 15px;
            }
        }
    }   
    .buyBtn {
        height: 48px;
        &__block {
            width: 80%;
            &__inCart {
                color: black;
                font-size: 21px;
                padding-left: 12px;
            }
            &__add {
                color: black;
                font-size: 20px;
            }
            &__rem {
                color: black;
                font-size: 20px;
                padding-right: 14px;
            }
            &__qty {
                color: black;
                font-size: 20px;
                
            }
        }
        &__cart {
            &__icon {
                width: 63%;
            }
        }
       
    }
    .buyBtnE {
        height: 48px;
        &__addE {
                padding-left: 18px;
                font-size: 18px;  
                width: 79%;
        }
        &__cartE {
            width: 21%;
            &__icon {
                width: 60%;
            }
        }
    }

    .upArrowSvg {
        width: 17%;
        height: 17%;
        position: fixed;
        right: 0%;
        bottom: 0; 
    }
    .popap {
        font-size: 15px;
    }
    .popapdisable {
        top: 80%;  
    }
}